[submodule "kaldi"]
	path = kaldi
	url = https://github.com/kaldi-asr/kaldi.git
[submodule "nii"]
	path = nii
	url = https://github.com/nii-yamagishilab/project-CURRENNT-public
[submodule "nii_scripts"]
	path = nii_scripts
	url = https://github.com/nii-yamagishilab/project-CURRENNT-scripts
[submodule "cllr"]
	path = cllr
	url = https://gitlab.eurecom.fr/nautsch/cllr.git
