/venv/
.nfs*
*.pyc
*.tar.gz
*.tar.xz
netcdf*/
/.done-*
/boost_*/
/flac-*/
/env.sh
/baseline/exp/
/baseline/LibriSpeech/
/baseline/data/
/baseline/mfcc/
/baseline/corpora
/baseline/corpora/
/baseline/run_temp.sh
/baseline/run_nt_test.sh
/Miniconda*
temp*/
